
/* modificaçoes do main */

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 37);
}

main {
    min-height: 90vh;
    max-width: 1300px;
    margin: 3em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main>div {
    min-width: 45%;
    min-height: 500px;
    box-shadow: 0px 0px 10px white;
    margin: 2em;
    border-radius: 30px;
    background-color: rgb(13, 13, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* cube-crazy */

.cube-crazy {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    position: relative;
    animation: crazy 3s infinite alternate;
}

.cube-crazy>div {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.300);
    border: 16px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front1 {
    transform: translateZ(100px);
}

.back1 {
    transform: rotateY(180deg) translateZ(100px);
}

.left1 {
    transform: rotateY(-90deg) translateZ(100px);
}

.right1 {
    transform: rotateY(90deg) translateZ(100px);
}

.top1 {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom1 {
    transform: rotateX(-90deg) translateZ(100px);
}


@keyframes colors {
    0% {
        background-color: rgba(148, 0, 21, 0.300);
        border-color: rgb(148, 0, 22);
    }
    15% {
        background-color: rgba(75, 0, 130, 0.300);
        border-color: rgb(76, 0, 130);
    }
    30% {
        background-color: rgba(0, 0, 255, 0.300);
        border-color: rgb(0, 0, 255);
    }
    45% {
        background-color: rgba(0, 255, 0, 0.300);
        border-color: rgb(0, 255, 0);
    }
    60% {
        background-color: rgba(255, 255, 0, 0.300);
        border-color: rgb(255, 255, 0);
    }
    75% {
        background-color: rgba(255, 127, 0, 0.300);
        border-color: rgb(255, 128, 0);
    }
    90% {
        background-color: rgba(255, 0, 0, 0.300);
        border-color: rgb(255, 0, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.300);
        border-color: rgb(255, 255, 255);
    }
}

@keyframes crazy {
    to {
        transform: rotateX(-30deg) rotateY(-30deg);
    }
    from {
        transform: rotateX(-330deg) rotateY(-330deg);
    }
}


/* stark */

.stark {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all .6s ease;
}

.stark:hover {
    transform: rotateX(50deg) rotateY(-50deg);
}

.stark>div {
    position: absolute;
    border-radius: 50%;
}

.stark>div:nth-child(1) {
    transform: rotate(70deg) translateZ(100px);
    height: 90%;
    width: 90%;
    border: 6px solid;
    border-color: rgb(38, 183, 209) transparent rgb(38, 183, 209) transparent;
    animation: rotate1 3s infinite ease;
}
.stark>div:nth-child(2) {
    transform: rotate(50deg) translateZ(50px);
    height: 85%;
    width: 85%;
    border: 6px solid;
    border-color: transparent rgb(189, 189, 189) transparent rgb(189, 189, 189);
    animation: rotate2 2s infinite linear;
}

.stark>div:nth-child(3) {
    transform: rotate(135deg) translateZ(25px);
    height: 65%;
    width: 65%;
    border: 6px solid;
    border-color: transparent rgb(224, 153, 47) transparent rgb(224, 153, 47);
    animation: rotate3 6s infinite ease-in reverse;
}

.stark>div:nth-child(4) {
    transform: rotate(40deg) translateZ(130px);
    height: 50%;
    width: 50%;
    border: 6px solid;
    border-color: rgb(112, 112, 112) transparent rgb(112, 112, 112) transparent;
    animation: rotate4 3.5s infinite ease-in-out;
}

.stark>div:nth-child(5) {
    transform: rotate(290deg) translateZ(-25px);
    height: 75%;
    width: 75%;
    border: 6px solid;
    border-color: transparent black transparent black;
    animation: rotate5 1.6s infinite linear reverse;
}

.stark>div:nth-child(6) {
    transform: translateZ(-75px);
    height: 50%;
    width: 50%;
    background-color: rgba(224, 153, 47, 0.900);
    animation: moving3 3s infinite ease-in-out;
}

.stark>div:nth-child(7) {
    transform: translateZ(180px);
    height: 20%;
    width: 20%;
    background-color: rgba(255, 238, 0, 0.900);
    border: 6px solid white;
    animation: moving1 2.2s infinite ease-in-out;
}

.stark>div:nth-child(8) {
    height: 45%;
    width: 45%;
    border: 6px solid white;
    background-color: rgb(79, 183, 252);
    animation: moving2 1.6s infinite ease-in-out;
}

.stark>div:nth-child(9) {
    height: 100%;
    width: 100%;
    border: 6px solid;
    background-color: rgba(18, 68, 161, 0.400);
    border-color: transparent white transparent white;
    animation: rotate6 1.6s infinite ease-in-out alternate;
}

@keyframes rotate1 {
    0% {
        transform: rotate(70deg) translateZ(100px);
    }
    50% {
        transform: rotate(215deg) translateZ(90px);
    }
    100% {
        transform: rotate(430deg) translateZ(100px);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(50deg) translateZ(50px);
    }
    50% {
        transform: rotate(205deg) translateZ(65px);
    }
    100% {
        transform: rotate(410deg) translateZ(50px);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotate(135deg) translateZ(25px);
    }
    50% {
        transform: rotate(250deg) translateZ(50px);
    }
    100% {
        transform: rotate(495deg) translateZ(25px);
    }
}

@keyframes rotate4 {
    0% {
        transform: rotate(40deg) translateZ(130px);
    }
    50% {
        transform: rotate(200deg) translateZ(100px);
    }
    100% {
        transform: rotate(400deg) translateZ(130px);
    }
}

@keyframes rotate5 {
    0% {
        transform: rotate(290deg) translateZ(-25px);
    }
    50% {
        transform: rotate(325deg) translateZ(-5px);
    }
    100% {
        transform: rotate(650deg) translateZ(-25px);
    }
}

@keyframes rotate6 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes moving1 {
    0% {
        transform: translateZ(180px);
    }
    50% {
        transform: translateZ(150px);
    }
    100% {
        transform: translateZ(180px);
    }
}

@keyframes moving2 {
    0% {
        transform: translateZ(0px);
    }
    50% {
        transform: translateZ(20px);
    }
    100% {
        transform: translateZ(1px);
    }
}

@keyframes moving3 {
    0% {
        transform: translateZ(-75px);
    }
    50% {
        transform: translateZ(-30px);
    }
    100% {
        transform: translateZ(-75px);
    }
}



/* triangle-alien */

.triangle-alien {
    width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-30deg);
    animation: rodando 3s infinite linear;
}

.front2, .back2, .left2, .right2 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: linear-gradient(to bottom, #70b8a4, #5ea693, #4c9582, #398370, #27715f);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.500) inset;
}

.bottom2 {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateX(-90deg) translateZ(87px);
    background-image: linear-gradient(center, #70b8a4, #5ea693, #4c9582, #398370, #27715f);
}

.front2 {
    transform: translateZ(49.5px) rotateX(30deg);
}

.back2 {
    transform: rotateY(180deg) translateZ(49.5px) rotateX(30deg);

}

.left2 {
    transform: rotateY(-90deg) translateZ(49.5px) rotateX(30deg);
}

.right2 {
    transform: rotateY(90deg) translateZ(49.5px) rotateX(30deg);
}

.shadow {
    position: absolute;
    background-color: rgba(90, 90, 90, 0.3);
    width: 180px;
    height: 180px;
    transform: rotateX(-90deg) translateZ(150px);
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(90, 90, 90, 0.76);
    filter: blur(15px);
}

@keyframes rodando {
    0% {
        transform: rotateX(-30deg) rotateY(-30deg);
    }
    50% {
        transform: rotateX(-10deg) rotateY(165deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(330deg);   
    }
}